#page-container {
    width: 100%;
    margin: auto;
    background: white;
    ;
}

#main-nav {
    background: #1f7a9e;
    height: 50px;
}

#header {
    text-align: center;
    height: 400px;
}

#pic2 {
    width: 350px;
    height: 140px;
    text-indent: 0%;
}

#pic {
    float: right;
    width: 350px;
    height: 120px;
}

#indrouce {
    padding-top: 15px;
    background: rgb(30, 178, 197);
    height: 210px;
    width: 120px;
    margin-left: 60px;
}

#content {
    width: 500px;
    float: right;
}

#content2 {
    height: 230px;
    width: 250px;
}

#content1 {
    height: 230px;
}

b1 {
    font: arial;
    text-align: left;
    font-size: 14px;
}

b2 {
    font-size: 6px;
    line-height: 1px;
}

#content3 {
    font-size: 12px;
    float: right;
    width: 250px;
    height: 230px;
}

#sidebar-a {
    font-size: 12px;
    height: 120px;
}

h2 {
    float: right;
    margin-right: 2px;
    padding: 1px;
}

h1 {
    text-align: left;
    font-family: arial;
    font-size: 12px;
    color: #666666;
    margin: 0;
    padding: 0;
}

#footer {
    font-size: 10px;
    clear: both;
    background: #F0F0F0;
    height: 40px;
    border-top: 10px;
    text-align: center;
    padding: 13px 25px;
}